section.criteria {
  position: relative;
}
.criteria .wrapper {
  margin-top: 147px;
  border-top: 1px solid #979797;
  padding-top: 37px;
}
.criteria__head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 45px;
}

.criteria__head_btn {
  position: relative;
  left: 71px;
  margin-bottom: 38px;
}
.criteria__head h3{
  position: relative;
  left: 5px;
  top: -3px;
}
.criteria__head img{
  position: relative;
  left: 23px;
}
.criteria__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.criteria__content_left {
  max-width: 493px;
}
.criteria__content_left img{
  position: relative;
  left: 10px;
  max-width: 493px;
  width: 100%;
  margin-bottom: 54px;
}
.criteria__content_left p{
  color: #FFD262;
  font-size: 32px;
  font-family: Arial;
  line-height: 34px;
  letter-spacing: 0.5px;
}
.criteria__content_right {
  position: relative;
  left: -10px;
  top: 5px;
  max-width: 596px;
  width: 100%;
}
.criteria__content_right p {
  color: #BDBDBD;
  font-size: 32px;
  font-family: Arial;
  line-height: 34px;
  letter-spacing: 0.5px;
}
.criteria__content_right p:first-child {
  margin-bottom: 58px;
}
.criteria__questions {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.criteria__questions_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  line-height: 27.9px;
  letter-spacing: 0.5px;
  padding: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}
.criteria__questions_item:nth-child(1) {
  left: -1px;
  margin-bottom: 9px;
  align-self: start;
  background-image: url('../images/criteria/bg01.png');
  width: 212px;
  height: 56px;
}
.criteria__questions_item:nth-child(2) {
  left: -67px;
  align-self: center;
  background-image: url('../images/criteria/bg02.png');
  width: 428px;
  height: 60px;
  margin-bottom: 4px;
}
.criteria__questions_item:nth-child(3) {
  left: 54px;
  align-self: end;
  background-image: url('../images/criteria/bg03.png');
  width: 391px;
  height: 58px;
}
.criteria__btn {
  position: relative;
  left: 2px;
  display: block;
  height: 79px;
  margin: 52px auto 0;
  max-width: 924px;
  width: 100%;
}

.criteria__btn::before {
  content: '';
  background-image: url('../images/criteria/star02.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  width: 89px;
  height: 89px;
  bottom: 39px;
  left: -241px;
  z-index: 3;
}